<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lasthopesoftware.bluewater"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/ic_stat_water_drop_white"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="true" >

        <activity
            android:name="com.lasthopesoftware.bluewater.activities.BrowseLibrary"
            android:label="@string/title_activity_browse_library" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.lasthopesoftware.bluewater.activities.SetConnection"
            android:label="@string/title_activity_set_up_connection">
            
        </activity>
        
        <activity
            android:name="com.lasthopesoftware.bluewater.activities.SelectLibrary"
            android:label="@string/title_activity_select_library">
            
        </activity>
        
        <activity
            android:name="com.lasthopesoftware.bluewater.activities.ViewFiles"
            android:label="@string/title_activity_file_view" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lasthopesoftware.bluewater.BrowseLibrary" />
        </activity>
        
        <activity
            android:name="com.lasthopesoftware.bluewater.activities.ViewPlaylists"
            android:label="@string/title_activity_file_view" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lasthopesoftware.bluewater.BrowseLibrary" />
        </activity>
        
         <activity
            android:name="com.lasthopesoftware.bluewater.activities.ViewNowPlaying"
            android:label="@string/title_activity_view_now_playing"
            android:launchMode="singleTop" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lasthopesoftware.bluewater.ViewFiles" />
        </activity>

        <receiver android:name="com.lasthopesoftware.bluewater.receivers.MusicIntentReceiver" >
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <service android:name="com.lasthopesoftware.bluewater.services.StreamingMusicService" android:enabled="true" android:exported="false">

            <intent-filter>
                <action android:name="com.lasthopesoftware.bluewater.ACTION_PAUSE" />
                <action android:name="com.lasthopesoftware.bluewater.ACTION_PLAY" />
                <action android:name="com.lasthopesoftware.bluewater.ACTION_STOP" />
                <action android:name="com.lasthopesoftware.bluewater.ACTION_START" />
                <action android:name="com.lasthopesoftware.bluewater.ACTION_SYSTEM_PAUSE" />
            </intent-filter>
            
        </service>

       
    </application>

</manifest>