<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <!-- Create a file appender for a log in the application's data directory -->
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	      <fileNamePattern>/sdcard/pbw/files/log/log.%d{yyyy-MM-dd}.log</fileNamePattern>
	      <maxHistory>30</maxHistory> 
	    </rollingPolicy>
		
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
  
  <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Write WARN (and higher-level) messages to the log file -->
  
	<logger name="com.lasthopesoftware" level="INFO">
		<appender-ref ref="logcat" />
	</logger>

	<root level="WARN">
    	<appender-ref ref="file" />
  	</root>
	
</configuration>