<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:logo="@drawable/now_playing_status_icon_white"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="tiramisu"
        android:enableOnBackInvokedCallback="true">

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".client.library.items.media.files.list.SearchFilesActivity" />

        <!-- Begin Connection intents -->
        <activity
            android:name=".client.connection.selected.InstantiateSelectedConnectionActivity"
            android:launchMode="singleTop"
            android:noHistory="true" />
        <activity
            android:name=".client.connection.polling.WaitForConnectionActivity"
            android:label="@string/title_activity_wait_for_connection"
            android:launchMode="singleTop"
            android:noHistory="true" />
        <activity
            android:name=".client.settings.EditClientSettingsActivity"
            android:label="@string/title_activity_set_up_connection">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.ApplicationSettingsActivity" />
        </activity>
        <!-- End Connection intents -->

        <activity
            android:name=".settings.ApplicationSettingsActivity"
            android:label="@string/settings" />
        <activity
            android:name=".about.AboutActivity"
            android:label="@string/title_activity_about" />
        <activity
            android:name=".settings.hidden.HiddenSettingsActivity"
            android:exported="false"
            android:label="@string/settings" />
        <activity
            android:name=".client.browsing.BrowserEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".client.browsing.items.ItemBrowserActivity"
            android:label="Browse Items">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lasthopesoftware.bluewater.client.browsing.BrowserEntryActivity" />
        </activity>
        <activity
            android:name="com.lasthopesoftware.bluewater.client.browsing.files.details.FileDetailsActivity"
            android:label="@string/title_activity_file_view">
        </activity>
        <activity
            android:name=".client.playback.nowplaying.view.activity.NowPlayingActivity"
            android:label="@string/title_activity_view_now_playing"
            android:launchMode="singleTask"
            android:theme="@style/NowPlayingTheme" />

        <receiver
            android:name=".client.playback.service.receivers.AudioBecomingNoisyReceiver"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".client.playback.service.receivers.RemoteControlReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".client.stored.sync.DeviceBootSyncScheduler"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".client.playback.service.PlaybackService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
        <service
            android:name=".client.connection.polling.PollConnectionService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".shared.android.MediaSession.MediaSessionService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".client.browsing.remote.RemoteBrowserService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:ignore="Instantiatable"
            tools:node="merge" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:enabled="false"
            android:exported="false" />
        <!-- If you are using androidx.startup to initialize other components -->
<!--        <meta-data-->
<!--            android:name="androidx.work.impl.WorkManagerInitializer"-->
<!--            android:value="androidx.startup"-->
<!--            tools:node="remove" />-->
    </application>

</manifest>
