<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RUN_USER_INITIATED_JOBS" />

    <application
        android:name=".ProjectBlueApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:logo="@drawable/now_playing_status_icon_white"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="tiramisu"
        android:requestLegacyExternalStorage="true"
        android:enableOnBackInvokedCallback="true"
        android:banner="@drawable/tv_banner">

        <activity
            android:name=".client.EntryActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.MUSIC_PLAYER" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_MUSIC" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lasthopesoftware.bluewater.client.browsing.files.details.FileDetailsActivity"
            android:label="@string/title_activity_file_view"
            android:parentActivityName=".client.EntryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".client.EntryActivity" />
        </activity>

        <receiver
            android:name=".client.playback.service.receivers.AudioBecomingNoisyReceiver"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".client.playback.service.receivers.RemoteControlReceiver"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".client.stored.sync.DeviceBootSyncScheduler"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".client.playback.service.PlaybackService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name=".client.playback.service.PlaybackService.Action.parsePlaybackServiceAction" />
            </intent-filter>
        </service>
        <service
            android:name=".client.connection.polling.PollConnectionService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".shared.android.MediaSession.MediaSessionService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".client.browsing.remote.RemoteBrowserService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:ignore="Instantiatable"
            tools:node="merge" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="com.lasthopesoftware.bluewater.SyncSchedulerInitializer"
                android:value="androidx.startup" />

        </provider>
    </application>

</manifest>
